body{

}

.nav ul{
	margin-top:8px;
    background:#239431;
    list-style: none;
    text-align: center;
    padding: 8px;
    

}

.nav li{
    display: inline-block;
}

.nav a{
    color: white;
    text-decoration: none;
    width: 130px;
    display: block;
    
}

a:hover{
    background:#0075b3;
} 

.nav ul li a.activo {
    background-color: #007bff;
    color: #fff;
  }